In [120]:
import pandas as pd
import numpy as np

In [121]:
columns = ["Kommun_code","Year","Kommun_name","Revenue","Employee","Population","Population_University","Percent_University","Productivity","SalesIndex","Infrast","Border"]

In [122]:
len(columns)

12

In [123]:
df = pd.DataFrame(columns=columns)

In [124]:
df

Empty DataFrame
Columns: [Kommun_code, Year, Kommun_name, Revenue, Employee, Population, Population_University, Percent_University, Productivity, SalesIndex, Infrast, Border]
Index: []

In [125]:
with open("ikea_data.txt", "r") as fp:
    lines = fp.readlines()

In [126]:
lines[0]

'"Kommun_code"\t"Year"\t"Kommun_name"\t"Revenue"\t"Employee"\t"Population"\t"Population_University"\t"Percent_University"\t"Productivity"\t"SalesIndex"\t"Infrast"\t"Border"\n'

In [127]:
len(lines[1])

99

In [128]:
l = lines[1].split("\t")

In [129]:
len(l)

12

In [130]:
l

['"2583"',
 '"2010"',
 '"Haparanda"',
 '"1078"',
 '"276"',
 '"10059"',
 '"719"',
 '"0.07147828"',
 '"195.74174"',
 '"111.075774"',
 '"0"',
 '"1"\n']

In [131]:
for i in lines:
    l = i.split("\t")
#     print(len(l))
    dic = {}
    for i in range(0,12):
        dic[columns[i]] = l[i]
    df = df.append(dic, ignore_index=True)

In [132]:
df

,Kommun_code,Year,Kommun_name,Revenue,Employee,Population,Population_University,Percent_University,Productivity,SalesIndex,Infrast,Border
0,"""Kommun_code""","""Year""","""Kommun_name""","""Revenue""","""Employee""","""Population""","""Population_University""","""Percent_University""","""Productivity""","""SalesIndex""","""Infrast""","""Border""\n"
1,"""2583""","""2010""","""Haparanda""","""1078""","""276""","""10059""","""719""","""0.07147828""","""195.74174""","""111.075774""","""0""","""1""\n"
2,"""880""","""2010""","""Kalmar""","""3790""","""1621""","""62815""","""8716""","""0.13875667""","""117.17365""","""390.516869""","""0""","""0""\n"
3,"""1780""","""2010""","""Karlstad""","""4560""","""1910""","""85753""","""13308""","""0.15518991""","""119.64794""","""469.856708""","""0""","""0""\n"
4,"""114""","""2010""","""Upplands Väsby""","""1366""","""708""","""39289""","""4419""","""0.11247423""","""96.69215""","""140.750935""","""0""","""0""\n"
...,...,...,...,...,...,...,...,...,...,...,...,...
203,"""1863""","""2010""","""Hällefors""","""52""","""33""","""7220""","""368""","""0.05096953""","""78.97019""","""5.358015""","""0""","""0""\n"
204,"""1864""","""2010""","""Ljusnarsberg""","""51""","""24""","""4931""","""266""","""0.05394443""","""106.49585""","""5.254976""","""0""","""0""\n"
205,"""1880""","""2010""","""Örebro""","""6228""","""2995""","""135460""","""19516""","""0.14407205""","""104.21387""","""641.725346""","""0""","""0""\n"
206,"""1881""","""2010""","""Kumla""","""152""","""98""","""20456""","""1598""","""0.07811889""","""77.73047""","""15.661890""","""0""","""0""\n"
207,"""1882""","""2010""","""Askersund""","""126""","""65""","""11278""","""809""","""0.07173258""","""97.14735""","""12.982883""","""0""","""0""\n"

In [133]:
df.drop([0],inplace=True)

In [134]:
# rearranging the index

In [135]:
# df = df.drop([0])
# df.reset_index(drop=True,inplace=True)

In [136]:
df

,Kommun_code,Year,Kommun_name,Revenue,Employee,Population,Population_University,Percent_University,Productivity,SalesIndex,Infrast,Border
1,"""2583""","""2010""","""Haparanda""","""1078""","""276""","""10059""","""719""","""0.07147828""","""195.74174""","""111.075774""","""0""","""1""\n"
2,"""880""","""2010""","""Kalmar""","""3790""","""1621""","""62815""","""8716""","""0.13875667""","""117.17365""","""390.516869""","""0""","""0""\n"
3,"""1780""","""2010""","""Karlstad""","""4560""","""1910""","""85753""","""13308""","""0.15518991""","""119.64794""","""469.856708""","""0""","""0""\n"
4,"""114""","""2010""","""Upplands Väsby""","""1366""","""708""","""39289""","""4419""","""0.11247423""","""96.69215""","""140.750935""","""0""","""0""\n"
5,"""115""","""2010""","""Vallentuna""","""171""","""99""","""30114""","""3843""","""0.12761506""","""86.56347""","""17.619627""","""0""","""0""\n"
...,...,...,...,...,...,...,...,...,...,...,...,...
203,"""1863""","""2010""","""Hällefors""","""52""","""33""","""7220""","""368""","""0.05096953""","""78.97019""","""5.358015""","""0""","""0""\n"
204,"""1864""","""2010""","""Ljusnarsberg""","""51""","""24""","""4931""","""266""","""0.05394443""","""106.49585""","""5.254976""","""0""","""0""\n"
205,"""1880""","""2010""","""Örebro""","""6228""","""2995""","""135460""","""19516""","""0.14407205""","""104.21387""","""641.725346""","""0""","""0""\n"
206,"""1881""","""2010""","""Kumla""","""152""","""98""","""20456""","""1598""","""0.07811889""","""77.73047""","""15.661890""","""0""","""0""\n"
207,"""1882""","""2010""","""Askersund""","""126""","""65""","""11278""","""809""","""0.07173258""","""97.14735""","""12.982883""","""0""","""0""\n"

In [137]:
df.reset_index(drop=True,inplace=True)

In [138]:
df

,Kommun_code,Year,Kommun_name,Revenue,Employee,Population,Population_University,Percent_University,Productivity,SalesIndex,Infrast,Border
0,"""2583""","""2010""","""Haparanda""","""1078""","""276""","""10059""","""719""","""0.07147828""","""195.74174""","""111.075774""","""0""","""1""\n"
1,"""880""","""2010""","""Kalmar""","""3790""","""1621""","""62815""","""8716""","""0.13875667""","""117.17365""","""390.516869""","""0""","""0""\n"
2,"""1780""","""2010""","""Karlstad""","""4560""","""1910""","""85753""","""13308""","""0.15518991""","""119.64794""","""469.856708""","""0""","""0""\n"
3,"""114""","""2010""","""Upplands Väsby""","""1366""","""708""","""39289""","""4419""","""0.11247423""","""96.69215""","""140.750935""","""0""","""0""\n"
4,"""115""","""2010""","""Vallentuna""","""171""","""99""","""30114""","""3843""","""0.12761506""","""86.56347""","""17.619627""","""0""","""0""\n"
...,...,...,...,...,...,...,...,...,...,...,...,...
202,"""1863""","""2010""","""Hällefors""","""52""","""33""","""7220""","""368""","""0.05096953""","""78.97019""","""5.358015""","""0""","""0""\n"
203,"""1864""","""2010""","""Ljusnarsberg""","""51""","""24""","""4931""","""266""","""0.05394443""","""106.49585""","""5.254976""","""0""","""0""\n"
204,"""1880""","""2010""","""Örebro""","""6228""","""2995""","""135460""","""19516""","""0.14407205""","""104.21387""","""641.725346""","""0""","""0""\n"
205,"""1881""","""2010""","""Kumla""","""152""","""98""","""20456""","""1598""","""0.07811889""","""77.73047""","""15.661890""","""0""","""0""\n"
206,"""1882""","""2010""","""Askersund""","""126""","""65""","""11278""","""809""","""0.07173258""","""97.14735""","""12.982883""","""0""","""0""\n"

In [139]:
df.to_csv('cleaned_not_conv.csv', index=False)

In [140]:
# converting data types

In [141]:
df = pd.read_csv('cleaned_not_conv.csv')

In [142]:
df.dtypes

Kommun_code              object
Year                     object
Kommun_name              object
Revenue                  object
Employee                 object
Population               object
Population_University    object
Percent_University       object
Productivity             object
SalesIndex               object
Infrast                  object
Border                   object
dtype: object

In [114]:
# int(pk[0].strip('""'))

2583

In [143]:
df["Kommun_code"] = df["Kommun_code"].apply(lambda x: int(x.strip('""')))

In [146]:
df["Year"] = df["Year"].apply(lambda x: int(x.strip('""')))

In [147]:
df

,Kommun_code,Year,Kommun_name,Revenue,Employee,Population,Population_University,Percent_University,Productivity,SalesIndex,Infrast,Border
0,2583,2010,"""Haparanda""","""1078""","""276""","""10059""","""719""","""0.07147828""","""195.74174""","""111.075774""","""0""","""1""\n"
1,880,2010,"""Kalmar""","""3790""","""1621""","""62815""","""8716""","""0.13875667""","""117.17365""","""390.516869""","""0""","""0""\n"
2,1780,2010,"""Karlstad""","""4560""","""1910""","""85753""","""13308""","""0.15518991""","""119.64794""","""469.856708""","""0""","""0""\n"
3,114,2010,"""Upplands Väsby""","""1366""","""708""","""39289""","""4419""","""0.11247423""","""96.69215""","""140.750935""","""0""","""0""\n"
4,115,2010,"""Vallentuna""","""171""","""99""","""30114""","""3843""","""0.12761506""","""86.56347""","""17.619627""","""0""","""0""\n"
...,...,...,...,...,...,...,...,...,...,...,...,...
202,1863,2010,"""Hällefors""","""52""","""33""","""7220""","""368""","""0.05096953""","""78.97019""","""5.358015""","""0""","""0""\n"
203,1864,2010,"""Ljusnarsberg""","""51""","""24""","""4931""","""266""","""0.05394443""","""106.49585""","""5.254976""","""0""","""0""\n"
204,1880,2010,"""Örebro""","""6228""","""2995""","""135460""","""19516""","""0.14407205""","""104.21387""","""641.725346""","""0""","""0""\n"
205,1881,2010,"""Kumla""","""152""","""98""","""20456""","""1598""","""0.07811889""","""77.73047""","""15.661890""","""0""","""0""\n"
206,1882,2010,"""Askersund""","""126""","""65""","""11278""","""809""","""0.07173258""","""97.14735""","""12.982883""","""0""","""0""\n"

In [148]:
df["Revenue"] = df["Revenue"].apply(lambda x: int(x.strip('""')))
df["Employee"] = df["Employee"].apply(lambda x: int(x.strip('""')))
df["Population"] = df["Population"].apply(lambda x: int(x.strip('""')))
df["Population_University"] = df["Population_University"].apply(lambda x: int(x.strip('""')))

In [149]:
df

,Kommun_code,Year,Kommun_name,Revenue,Employee,Population,Population_University,Percent_University,Productivity,SalesIndex,Infrast,Border
0,2583,2010,"""Haparanda""",1078,276,10059,719,"""0.07147828""","""195.74174""","""111.075774""","""0""","""1""\n"
1,880,2010,"""Kalmar""",3790,1621,62815,8716,"""0.13875667""","""117.17365""","""390.516869""","""0""","""0""\n"
2,1780,2010,"""Karlstad""",4560,1910,85753,13308,"""0.15518991""","""119.64794""","""469.856708""","""0""","""0""\n"
3,114,2010,"""Upplands Väsby""",1366,708,39289,4419,"""0.11247423""","""96.69215""","""140.750935""","""0""","""0""\n"
4,115,2010,"""Vallentuna""",171,99,30114,3843,"""0.12761506""","""86.56347""","""17.619627""","""0""","""0""\n"
...,...,...,...,...,...,...,...,...,...,...,...,...
202,1863,2010,"""Hällefors""",52,33,7220,368,"""0.05096953""","""78.97019""","""5.358015""","""0""","""0""\n"
203,1864,2010,"""Ljusnarsberg""",51,24,4931,266,"""0.05394443""","""106.49585""","""5.254976""","""0""","""0""\n"
204,1880,2010,"""Örebro""",6228,2995,135460,19516,"""0.14407205""","""104.21387""","""641.725346""","""0""","""0""\n"
205,1881,2010,"""Kumla""",152,98,20456,1598,"""0.07811889""","""77.73047""","""15.661890""","""0""","""0""\n"
206,1882,2010,"""Askersund""",126,65,11278,809,"""0.07173258""","""97.14735""","""12.982883""","""0""","""0""\n"

In [152]:
df["Percent_University"] = df["Percent_University"].apply(lambda x: float(x.strip('""')))
df["Productivity"] = df["Productivity"].apply(lambda x: float(x.strip('""')))
df["SalesIndex"] = df["SalesIndex"].apply(lambda x: float(x.strip('""')))

In [153]:
df

,Kommun_code,Year,Kommun_name,Revenue,Employee,Population,Population_University,Percent_University,Productivity,SalesIndex,Infrast,Border
0,2583,2010,"""Haparanda""",1078,276,10059,719,0.071478,195.74174,111.075774,"""0""","""1""\n"
1,880,2010,"""Kalmar""",3790,1621,62815,8716,0.138757,117.17365,390.516869,"""0""","""0""\n"
2,1780,2010,"""Karlstad""",4560,1910,85753,13308,0.155190,119.64794,469.856708,"""0""","""0""\n"
3,114,2010,"""Upplands Väsby""",1366,708,39289,4419,0.112474,96.69215,140.750935,"""0""","""0""\n"
4,115,2010,"""Vallentuna""",171,99,30114,3843,0.127615,86.56347,17.619627,"""0""","""0""\n"
...,...,...,...,...,...,...,...,...,...,...,...,...
202,1863,2010,"""Hällefors""",52,33,7220,368,0.050970,78.97019,5.358015,"""0""","""0""\n"
203,1864,2010,"""Ljusnarsberg""",51,24,4931,266,0.053944,106.49585,5.254976,"""0""","""0""\n"
204,1880,2010,"""Örebro""",6228,2995,135460,19516,0.144072,104.21387,641.725346,"""0""","""0""\n"
205,1881,2010,"""Kumla""",152,98,20456,1598,0.078119,77.73047,15.661890,"""0""","""0""\n"
206,1882,2010,"""Askersund""",126,65,11278,809,0.071733,97.14735,12.982883,"""0""","""0""\n"

In [154]:
df["Infrast"].unique()

array(['"0"', '"1"'], dtype=object)

In [155]:
df["Infrast"] = df["Infrast"].apply(lambda x: int(x.strip('""')))

In [156]:
df

,Kommun_code,Year,Kommun_name,Revenue,Employee,Population,Population_University,Percent_University,Productivity,SalesIndex,Infrast,Border
0,2583,2010,"""Haparanda""",1078,276,10059,719,0.071478,195.74174,111.075774,0,"""1""\n"
1,880,2010,"""Kalmar""",3790,1621,62815,8716,0.138757,117.17365,390.516869,0,"""0""\n"
2,1780,2010,"""Karlstad""",4560,1910,85753,13308,0.155190,119.64794,469.856708,0,"""0""\n"
3,114,2010,"""Upplands Väsby""",1366,708,39289,4419,0.112474,96.69215,140.750935,0,"""0""\n"
4,115,2010,"""Vallentuna""",171,99,30114,3843,0.127615,86.56347,17.619627,0,"""0""\n"
...,...,...,...,...,...,...,...,...,...,...,...,...
202,1863,2010,"""Hällefors""",52,33,7220,368,0.050970,78.97019,5.358015,0,"""0""\n"
203,1864,2010,"""Ljusnarsberg""",51,24,4931,266,0.053944,106.49585,5.254976,0,"""0""\n"
204,1880,2010,"""Örebro""",6228,2995,135460,19516,0.144072,104.21387,641.725346,0,"""0""\n"
205,1881,2010,"""Kumla""",152,98,20456,1598,0.078119,77.73047,15.661890,0,"""0""\n"
206,1882,2010,"""Askersund""",126,65,11278,809,0.071733,97.14735,12.982883,0,"""0""\n"

In [176]:
df["Border"] = df["Border"].apply(lambda x: int(x.rstrip('\n').strip('""')))

In [177]:
df

,Kommun_code,Year,Kommun_name,Revenue,Employee,Population,Population_University,Percent_University,Productivity,SalesIndex,Infrast,Border
0,2583,2010,"""Haparanda""",1078,276,10059,719,0.071478,195.74174,111.075774,0,1
1,880,2010,"""Kalmar""",3790,1621,62815,8716,0.138757,117.17365,390.516869,0,0
2,1780,2010,"""Karlstad""",4560,1910,85753,13308,0.155190,119.64794,469.856708,0,0
3,114,2010,"""Upplands Väsby""",1366,708,39289,4419,0.112474,96.69215,140.750935,0,0
4,115,2010,"""Vallentuna""",171,99,30114,3843,0.127615,86.56347,17.619627,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
202,1863,2010,"""Hällefors""",52,33,7220,368,0.050970,78.97019,5.358015,0,0
203,1864,2010,"""Ljusnarsberg""",51,24,4931,266,0.053944,106.49585,5.254976,0,0
204,1880,2010,"""Örebro""",6228,2995,135460,19516,0.144072,104.21387,641.725346,0,0
205,1881,2010,"""Kumla""",152,98,20456,1598,0.078119,77.73047,15.661890,0,0
206,1882,2010,"""Askersund""",126,65,11278,809,0.071733,97.14735,12.982883,0,0

In [178]:
df.dtypes

Kommun_code                int64
Year                       int64
Kommun_name               object
Revenue                    int64
Employee                   int64
Population                 int64
Population_University      int64
Percent_University       float64
Productivity             float64
SalesIndex               float64
Infrast                    int64
Border                     int64
dtype: object

In [184]:
df.to_csv("cleaned_ikea.csv",index=False)